<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.mybatis.mapper.TestEmpMapper"> <!-- 가장중요한 부분 줄이지도 못함--> 
	<select id="empList" resultType="com.yedam.app.mybatis.service.EmpInfo">
	<!--parameterType resultType등은 줄이기 가능--> 
		SELECT employee_id
			, last_name
			, hire_date
			, salary
		FROM employees
		ORDER BY employee_id
	</select>
</mapper>